{% extends '../base.html' %}

{% block title %}
<title>Panel iMax</title>
{% endblock %}

{% block content %}
<div class="container">
    <div>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">PEDIDOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/generar">PREPARAR ENVIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informe">INFORMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/personal" tabindex="-1" aria-disabled="true">PERSONAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">INFORMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OTROS</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                    <div class="card-header">Todas</div>
                    <div class="card-body">
                        <h5 class="card-title display-1">29</h5>
                        <h6 class="card-subtitle mb-2 text-muted">online</h6>
                        <a href="/all" class="card-link">ver</a>
                    </div>
                </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Disponibles</div>
                  <div class="card-body">
                      <h5 class="card-title display-1">3</h5>
                      <h6 class="card-subtitle mb-2 text-muted">online</h6>
                      <a href="/disponible" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Tomados</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="/tomados" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Recogidos</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="/recogido" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">En Acopio</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">16</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="/acopio" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Asignados</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="#" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Cancelados</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">01</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="/cancelado" class="card-link">ver</a>
                  </div>
              </div>

              <div class="card bg-light mr-sm-4 mb-3" style="width: 18rem;">
                  <div class="card-header">Finalizados</div>
                  <div class="card-body">
                    <h5 class="card-title display-1">01</h5>
                    <h6 class="card-subtitle mb-2 text-muted">online</h6>
                    <a href="/cancelado" class="card-link">ver</a>
                  </div>
              </div>

              </div>
              <hr>
              <div class="">
                  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/generar'">Envios Moto</button>
                  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/generar'">Envios Furgon</button>
                  <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal">Registrar Envio</button>
              </div>
              <!--
              <a href="/img/BlackClover.mp4" download="BlackClover.mp4">Download imagen</a>
              -->
            </div>
        </div>


    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Envio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput">DE:</label>
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre y apellido">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="N° DNI/RUC">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="N° Telefono">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Para:</label>
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre y apellido">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="N° DNI/RUC">
                  </div>
                  <div class="col-3">
                    <input type="text" class="form-control" placeholder="N° Telefono">
                  </div>
                </div>
              </div>
              <label for="formGroupExampleInput">Envios</label>
              <hr>
              <div class="form-group">
                <div class="row">
                  <div class="col-3">
                    <label for="formGroupExampleInput2">Destino:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Destino">
                  </div>
                  <div class="col-3">
                    <label for="formGroupExampleInput2">Agencia:</label>
                    <input type="text" class="form-control" placeholder="Agencia">
                  </div>
                  <div class="col-3">
                    <label for="formGroupExampleInput2">Descripcion:</label>
                    <input type="text" class="form-control" placeholder="Descripcion">
                  </div>
                  <div class="col-3">
                    <label for="formGroupExampleInput2">Cantidad:</label>
                    <input type="text" class="form-control" placeholder="cantidad">
                  </div>

                </div>


              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="chekBox" onclick="valida();">
                  <label class="custom-control-label" for="chekBox">Domicilio: </label>
                  <input type="text" class="form-control" placeholder="Direccion" disabled id="dir">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Generar</button>
          </div>
        </div>
      </div>
    </div>

</div>
<script>
  function valida(){
    if( $('#chekBox').prop('checked') ) {
      $('#dir').prop('disabled',false);
    }
    else
      $('#dir').prop('disabled',true);
  }
</script>
{% endblock %}
