{% extends '../base.html' %}

{% block title %}
<title>Panel iMax</title>
{% endblock %}

{% block content %}
<div class="container">
    <div>

        <div class="card">
            <div class="card-header" id="ko">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/inicio">PEDIDOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">PREPARAR ENVIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/informe">INFORMES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/personal" tabindex="-1" aria-disabled="true">PERSONAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OTROS</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
              <div class="row mx-md-n5">
                  <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                      <div class="d-flex justify-content-between">
                        <div>
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ENVIOS</a>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary active">Todos</button>
                          <button type="button" class="btn btn-secondary">Moto</button>
                          <button type="button" class="btn btn-secondary">Furgon</button>
                        </div>
                      </div>


                    </div>
                    <div class="overflow-auto" style="max-height:790px;">

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>

                      <div class="card mb-2">
                        <div class="card-body">
                          <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                          <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                          <a href="#" class="card-link">agregar</a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col px-md-5">
                    <div class="p-3 border bg-light">
                      <div class="d-flex justify-content-between">
                        <div>
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ASIGNACION</a>
                        </div>
                        <div>
                          <button type="button" class="btn btn-secondary">Nuevo</button>
                        </div>
                      </div>
                    </div>
                    <div class="overflow-auto" style="height:220px;">

                        <div class="card mb-2">
                            <div class="card-body" id="item" style="cursor: pointer;">
                                asignacion ASG-02135asd
                            </div>
                        </div>
                      </div>
                      <hr>
                      <div class="p-3 border bg-light">detalle</div>
                      <div class="overflow-auto invisible" style="max-height:450px;" id="detalle">
                        <div class="card mb-2">
                          <div class="card-body">
                            <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                            <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                            <a href="#" class="card-link">quitar</a>
                          </div>
                        </div>
                        <div class="card mb-2">
                          <div class="card-body">
                            <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                            <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                            <a href="#" class="card-link">quitar</a>
                          </div>
                        </div>
                        <div class="card mb-2">
                          <div class="card-body">
                            <h5 class="card-title">HUANCAYO <small class="text-muted" style="padding-left: 60%;">12:18</small></h5>
                            <h6 class="card-subtitle mb-2 text-muted">FLO-452asdAda <br> <b>Ernhesto Juaquin Salazar</b><br><b>Flores</b> <b class="text-muted" style="padding-left: 40%;">2 cajas</b></h6>
                            <a href="#" class="card-link">quitar</a>
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button type="button" class="btn btn-secondary btn-sm mr-sm-4">Enviar</button>
                          <button type="button" class="btn btn-secondary btn-sm mr-sm-4">Guardar</button>
                          <button type="button" class="btn btn-secondary btn-sm mr-sm-4">Asignar</button>
                        </div>
                      </div>

                  </div>
              </div>
            </div>
        </div>


    </div>
    <div>


    </div>

</div>

<script>
  document.getElementById("item").addEventListener("click", function() {
    $('#detalle').removeClass('invisible');
    //$('#select2').addClass('hidden');
  }, true);
</script>
{% endblock %}
